.navbar {
    background-color: plum;
}

footer {
    background-color: plum;
}

#footer-title {
    font-weight: bolder;
}


#page-name {
    font-weight: bolder;
}


#carouselExampleIndicators {
    padding-bottom: 2cm;

}


#first {
    margin-left:0px;
   
}

.line {
    text-align: center;
}


#style1 {
    border-top-style: dotted;
    padding-top: 1cm;
    border-top-color: plum;
    padding-bottom: 1cm;
   
}
#up {
    padding-bottom: 2cm;
}
.bottom {
    padding-top: 1cm; 
}
.article-item-list {
    border-bottom: 1px plum solid;
    border-bottom-style: dotted;
}