.navbar {
    background-color: plum;
}

footer {
    background-color: plum;
}

#footer-title {
    font-weight: bolder;
}


#page-name {
    font-weight: bolder;
}


#carouselExampleIndicators {
    padding-bottom: 2cm;

}


.col1 {
    margin-left:0px;
   
}


#style {
    border-top-style: dotted;
    padding-top: 1cm;
    border-top-color: plum;
}

.article-item-list {
    border-bottom: 1px plum solid;
    border-bottom-style: dotted;
}